---
layout: default
---

<h1>Archive</h1>

<ul>
	{% assign n = 0 %}
	{% assign curdate = "" %}
	
	{% for post in site.posts %}
		{% assign curmonth = curdate | date: "%B %Y" %}
		{% assign thismonth = post.date | date: "%B %Y" %}
		{% if thismonth == curmonth %}
			{% assign n = n | plus: 1 %}
		{% else %}
			{% if n > 0 %}
				<li><a href="{{ site.baseurl }}/{{ curdate | date: "%Y/%m" }}/">{{ curmonth }} ({{ n }})</a></li>
			{% endif %}
			{% assign curdate = post.date %}
			{% assign n = 1 %}
		{% endif %}
	{% endfor %}
	
	{% if n > 0 %}
		<li><a href="{{ site.baseurl }}/{{ curdate | date: "%Y/%m" }}/">{{ curmonth }} ({{ n }})</a></li>
	{% endif %}
</ul>
