---
layout: default
---

<ul class="post-list">
	{% for post in paginator.posts %}
		{% if post.visible != false %}
			<li>
				{% include post-preview.html %}
			</li>
		{% endif %}
	{% endfor %}
</ul>

<nav class="pagination">
	{% if paginator.previous_page %}
		<a href="{{ site.baseurl }}/">&laquo; First</a>
		<a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">&lsaquo; Previous</a>
	{% endif %}
	
	Page
	{% for offset in (-3..3) %}
		{% if offset == 0 %}
			<b>{{ paginator.page }}</b>
		{% else %}
			{% assign pagenum = paginator.page | plus: offset %}
			{% if pagenum >= 1 %}
				{% if pagenum <= paginator.total_pages %}
					{% if pagenum == 1 %}
						<a href="{{ site.baseurl }}/">1</a>
					{% else %}
						<a href="{{ site.paginate_path | replace: ":num", pagenum | prepend: site.baseurl }}">{{ pagenum }}</a>
					{% endif %}
				{% endif %}
			{% endif %}
		{% endif %}
	{% endfor %}
	
	{% if paginator.next_page %}
		<a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Next &rsaquo;</a>
		<a href="{{ site.paginate_path | replace: ":num", paginator.total_pages | prepend: site.baseurl }}">Last &raquo;</a>
	{% endif %}
</nav>

<script data-isso="{{ site.isso-url }}/" src="{{ site.isso-url }}/js/count.min.js"></script>
