---
layout: default
---

<h1>Tags</h1>

<ul>
	{% capture tags %}
		{% for tag in site.tags %}
			{{ 0 | minus: tag[1].size | plus: 1000 }}#{{ tag[0] }}#{{ tag[1].size }}%
		{% endfor %}
	{% endcapture %}
	{% assign sortedtags = tags | split:'%' | sort %}
	
	{% for tag in sortedtags %}
		{% if forloop.index != 1 %}
			{% assign tagitems = tag | split: '#' %}
			<li><a href="{{ site.baseurl }}/tag/{{ tagitems[1] | replace: " ", "-" }}">
				{{ tagitems[1] }} ({{ tagitems[2] }})
			</a></li>
		{% endif %}
	{% endfor %}
</ul>
