/**
 * Site header
 */
.site-header {
	margin-top: $base-line-height * $base-font-size;
	margin-bottom: $spacing-unit / 2;
}

.site-title {
	@include relative-font-size(1.625);
	font-weight: 300;
	letter-spacing: -1px;
	line-height: 1;
	margin-bottom: 0;
	display: block;
}

.site-subtitle {
	display: block;
	@include relative-font-size(0.8);
	
	&, &:hover {
		text-decoration: none;
	}
}

.site-title, .site-subtitle {
	&, &:visited {
		color: $grey-color-dark;
	}
	&:hover {
		color: $text-color;
	}
}



/**
 * Navigation sidebar
 */
.navigation-sidebar {
	section {
		margin-bottom: $spacing-unit / 2;
		
		> ul {
			margin-left: 0;
			list-style: none;
			
			> li > ul {
				@include relative-font-size(0.8);
			}
		}
	}
	
	a {
		&, &:visited {
			color: $text-color;
		}
		&:hover {
			color: $grey-color-dark;
		}
	}
	
	.tags ul {
		margin-left: $spacing-unit / 2;
		list-style: none;
		li {
			display: inline;
			margin-right: 1ex;
			
			a {
				white-space: nowrap;
			}
		}
	}
}



/**
 * Page content
 */
.post-list {
	margin-left: 0;
	list-style: none;
	
	> li {
		margin-bottom: $spacing-unit;
	}
	
	h3 {
		margin-bottom: 0;
	}
}

.post-meta {
	font-size: $small-font-size;
	color: $grey-color;
	margin-bottom: $spacing-unit / 2;
	
	a {
		&, &:visited {
			color: $grey-color;
		}
		&:hover {
			color: $grey-color-dark;
		}
	}
}

.post-link {
	display: block;
	@include relative-font-size(1.5);
}

.pagination {
	text-align: center;
}



/**
 * Posts
 */
.post-header {
	margin-bottom: $spacing-unit;
}

.post-title,
.post-content h1 {
	@include relative-font-size(2.625);
	letter-spacing: -1px;
	line-height: 1;
	
	@include media-query($on-laptop) {
		@include relative-font-size(2.25);
	}
}

.post-content {
	margin-bottom: $spacing-unit;
	
	h2 {
		@include relative-font-size(2);
		
		@include media-query($on-laptop) {
			@include relative-font-size(1.75);
		}
	}
	
	h3 {
		@include relative-font-size(1.625);
		
		@include media-query($on-laptop) {
			@include relative-font-size(1.375);
		}
	}
	
	h4 {
		@include relative-font-size(1.25);
		
		@include media-query($on-laptop) {
			@include relative-font-size(1.125);
		}
	}
}



/**
 * Site footer
 */
.site-footer {
	border-top: 1px solid $grey-color-light;
	padding: $spacing-unit 0;
}

.footer-heading {
	@include relative-font-size(1.125);
	margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
	list-style: none;
	margin-left: 0;
	
	a {
		&, &:visited {
			color: $grey-color;
		}
		&:hover {
			color: $grey-color-dark;
		}
	}
}

.social-media-list {
	li {
		display: inline-block;
		@include relative-font-size(1.5);
		margin-right: 1ex;
	}
}

.footer-col-wrapper {
	@include relative-font-size(0.9375);
	color: $grey-color;
	margin-left: -$spacing-unit / 2;
	@extend %clearfix;
}

.footer-col {
	float: left;
	margin-bottom: $spacing-unit / 2;
	padding-left: $spacing-unit / 2;
}

.footer-col-1 {
	width: -webkit-calc(33% - (#{$spacing-unit} / 2));
	width:         calc(33% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
	width: -webkit-calc(33% - (#{$spacing-unit} / 2));
	width:         calc(33% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
	width: -webkit-calc(33% - (#{$spacing-unit} / 2));
	width:         calc(33% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
	.footer-col-1,
	.footer-col-2 {
		width: -webkit-calc(50% - (#{$spacing-unit} / 2));
		width:         calc(50% - (#{$spacing-unit} / 2));
	}
	
	.footer-col-3 {
		width: -webkit-calc(100% - (#{$spacing-unit} / 2));
		width:         calc(100% - (#{$spacing-unit} / 2));
	}
}

@include media-query($on-palm) {
	.footer-col {
		float: none;
		width: -webkit-calc(100% - (#{$spacing-unit} / 2));
		width:         calc(100% - (#{$spacing-unit} / 2));
	}
}
