{% if post %}{% else %}{% assign post = page %}{% endif %}
<div class="post-meta">
	<i class="fa fa-calendar-o"></i>
	{{ post.date | date: "%d %B %Y" }}
	|
	<i class="fa fa-tags"></i>
	{% for tag in post.tags %}
		<a href="{{ site.baseurl }}/tag/{{ tag | replace: " ", "-" }}/">{{ tag }}</a>
	{% endfor %}
	|
	<i class="fa fa-comment-o"></i>
	<a href="{{ post.url | prepend: site.baseurl }}#isso-thread">Comment</a>
</div>
