<h3><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
{% include post-meta.html %}
{% capture morelink %}&hellip; <a class="read-more" href="{{ post.url | prepend: site.baseurl }}">»</a>{% endcapture %}
{{ post.content | smart_truncate: 45, morelink }}
