---
layout: default
---

{% if page.date %}
	<h1>Posts from {{ page.date | date: "%B %Y" }}</h1>
{% endif %}

<ul class="post-list">
	{% for post in page.posts %}
		{% if post.visible != false %}
			<li>
				{% include post-preview.html %}
			</li>
		{% endif %}
	{% endfor %}
</ul>
