---
---

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
		
		<link rel="alternate" type="application/atom+xml" title="Posts" href="{{ site.baseurl }}/feed.xml">
		
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/theme.css">
		
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<header class="site-header">
			<div class="wrapper">
				<a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
				<a class="site-subtitle" href="{{ site.baseurl }}/">{{ site.subtitle }}</a>
			</div>
		</header>
		<div class="wrapper page-body">
			<nav class="navigation-sidebar">
				<section>
					<ul>
						<li><a href="{{ site.baseurl }}/">Home</a></li>
						<li><a href="https://gitlab.com/{{ site.username-gitlab }}">GitLab</a></li>
					</ul>
				</section>
				<section>
					<ul>
						<li>
							<a href="{{ site.baseurl }}/archive.html">Posts</a>
							<ul>
								{% assign n = 0 %}
								{% assign months = 0 %}
								{% assign curdate = "" %}
								
								{% for post in site.posts %}
									{% if post.visible != false %}
										{% assign curmonth = curdate | date: "%B %Y" %}
										{% assign thismonth = post.date | date: "%B %Y" %}
										{% if thismonth == curmonth %}
											{% assign n = n | plus: 1 %}
										{% else %}
											{% if n > 0 %}
												<li><a href="{{ site.baseurl }}/{{ curdate | date: "%Y/%m" }}/">{{ curmonth }} ({{ n }})</a></li>
												{% assign months = months | plus: 1 %}
												{% if months >= site.sidebar-months %}
													<li><a href="{{ site.baseurl }}/archive.html">More…</a></li>
													{% break %}
												{% endif %}
											{% endif %}
											{% assign curdate = post.date %}
											{% assign n = 1 %}
										{% endif %}
									{% endif %}
								{% endfor %}
								
								{% if months < site.sidebar-months %}
									{% if n > 0 %}
										<li><a href="{{ site.baseurl }}/{{ curdate | date: "%Y/%m" }}/">{{ curmonth }} ({{ n }})</a></li>
									{% endif %}
								{% endif %}
							</ul>
						</li>
					</ul>
				</section>
				
				<section>
					<ul class="tags">
						<li>
							<a href="{{ site.baseurl }}/tags.html">Tags</a>
							<ul>
								{% capture tags %}
									{% for tag in site.tags %}
										{{ 0 | minus: tag[1].size | plus: 1000 }}#{{ tag[0] }}#{{ tag[1].size }}%
									{% endfor %}
								{% endcapture %}
								{% assign sortedtags = tags | split:'%' | sort %}
								
								{% for tag in sortedtags %}
									{% if forloop.index != 1 %}
										{% assign tagitems = tag | split: '#' %}
										{% if tagitems[2] != "1" %}
											<li><a href="{{ site.baseurl }}/tag/{{ tagitems[1] | replace: " ", "-" }}">
												{{ tagitems[1] }} ({{ tagitems[2] }})
											</a></li>
										{% endif %}
									{% endif %}
								{% endfor %}
						</li>
					</ul>
				</section>
			</nav>
			<main class="page-content">
				{{ content }}
			</main>
		</div>
		<footer class="site-footer">
			<div class="wrapper">
				<div class="footer-col-wrapper">
					<div class="footer-col footer-col-1">
						<ul class="contact-list">
							<li>{{ site.author }}</li>
							<li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
						</ul>
					</div>
					
					<div class="footer-col footer-col-2">
						<ul class="social-media-list">
							{% if site.username-gitlab %}
								<li><a href="https://gitlab.com/{{ site.username-gitlab }}">
									<i class="fa fa-gitlab"></i>
								</a></li>
							{% endif %}
							{% if site.username-github %}
								<li><a href="https://github.com/{{ site.username-github }}">
									<i class="fa fa-github"></i>
								</a></li>
							{% endif %}
							{% if site.username-twitter %}
								<li><a href="https://twitter.com/{{ site.username-twitter }}">
									<i class="fa fa-twitter"></i>
								</a></li>
							{% endif %}
							{% if site.username-keybase %}
								<li><a href="https://keybase.io/{{ site.username-keybase }}">
									<i class="fa fa-key"></i>
								</a></li>
							{% endif %}
							<li><a href="{{ site.baseurl }}/feed.xml">
								<i class="fa fa-rss"></i>
							</a></li>
						</ul>
					</div>
					
					<div class="footer-col footer-col-3">
						<p>{{ site.description }}</p>
					</div>
				</div>
			</div>
		</footer>
		
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_HTML"></script>
		<script>
			MathJax.Hub.Config({
				"HTML-CSS": {
					fonts: ["TeX"]
				}
			});
		</script>
	</body>
</html>
