---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
	<header class="post-header">
		<h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
		{% include post-meta.html %}
	</header>
	
	<div class="post-content" itemprop="articleBody">
		{{ content }}
	</div>
	
	<script data-isso="{{ site.isso-url }}/" src="{{ site.isso-url }}/js/embed.min.js"></script>
	
	<section id="isso-thread"></section>
</article>
